@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    margin: 0;
    padding: 0;
}

*[data-active=true] {
    @apply bg-blue-500;
    color: white;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000000AA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container > div {
    min-width: 200px;
    border-radius: 5px;
}

@media screen and (prefers-color-scheme: dark) {
    .custom-input {
        @apply bg-gray-800;
        color: white;
    }
}

.custom-input {
    border: 1px solid lightgray;
    padding: 8px;
    transition: all .2s ease;
    
    &.submit-side:not([type=submit]) {
        border-radius: 6px 0px 0px 6px;
    }
    &.center-side {
        border-left: 0px;
        cursor: pointer;
    }
    &.submit-side[type=submit] {
        @apply bg-blue-500;
        border-left: 0px;
        border-radius: 0px 6px 6px 0px;
        color: white;
        cursor: pointer;
    }
    &:disabled {
        filter: grayscale(100%) opacity(30%);
    }
}

nav > a {
    @apply p-2;
    @apply rounded-[6px];
    @apply text-lg;
    transition: all .2s ease;

    &.active {
        @apply font-black;
    }

    &:hover {
        @apply font-bold;
        @apply bg-gray-200;
        @apply dark:bg-gray-500;
    }
}
